<%= form_for(@combination) do |f| %>
  <% if @combination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combination.errors.count, "error") %> prohibited this combination from being saved:</h2>

      <ul>
      <% @combination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sensor_id %><br>
    <%= f.text_field :sensor_id %>
  </div>
  <div class="field">
    <%= f.label :board_id %><br>
    <%= f.text_field :board_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
