<p id="notice"><%= notice %></p>

<p>
  <strong>Pn:</strong>
  <%= @board.pn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @board.descr %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
