<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @picture.descr %>
</p>

<p>
  <strong>Imageable:</strong>
  <%= @picture.imageable %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
