<p id="notice"><%= notice %></p>

<p>
  <strong>Pn:</strong>
  <%= @board.pn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @board.descr %>
</p>



<p>
<% @board.pictures.each do |picture| %>
<%= picture.image_file_name %>
<%= image_tag picture.image.url(:thumb) %>
<% end %>
</p>

<p>
<% @board.attachments.each do |attachment| %>
<%= attachment.document_file_name %>
<%= image_tag attachment.document.url(:thumb) %>
<% end %>
</p>



<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
